<div class="row">
    <div class="col-lg-4 heading">
        <img src="/assets/img/burger.jpg" class="burger-img">
        <h1> Eat-The-Burger</h1>
    </div>
</div>


<div class="row" id="burger-list">
    <div class="col-lg-4">
        <ul class="list">
            {{#each boigahs}}
            {{#unless devoured}}
            <li>
                <p>
                    {{id}}. {{name}}
                    <button data-burger-id="{{id}}" class="btn-devour">Devour it</button>
                </p>

            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-lg-4">
        <form id="add-burger" class="button-size">
            <input type="text" id="burger"></input>
            <button type="btn-submit">Submit</button>
        </form>
        <p>Enter a burger you want to eat and click Submit!</p>
    </div>


    <div class="col-lg-4 devoured-list">
        <ul class="list">
            {{#each boigahs}}
            {{#if devoured}}

            <li>{{id}}. {{name}}</li>

            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>



<script type="text/javascript">

    $("#add-burger").on("submit", function (event) {
        event.preventDefault();

        let newBurger = {
            name: $("#burger").val()
        };
        console.log(newBurger);

        $.ajax({
            url: "/api/burgers",
            method: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new burger");
                location.reload();
            }
        );
    });

    $(".btn-devour").on("click", function () {

        var burgerId = $(this).data("burger-id");
        console.log($(this).data("burger-id"));

        $.ajax({
            url: "/api/burgers/" + burgerId,
            method: "PUT"
        }).then(
            function () {
                console.log("updating id ", burgerId);
                location.reload();
            }
        );

        console.log(burgerId)

    });



</script>